#h1{
    color:aqua
}
#img{
    margin: 400px;
}
#thirdDiv{
    
    height:600px 500px ;
    background-color: blueviolet;
    padding: 50px;
    border-radius: 30px;
    border-color: cadetblue;
}
#spanId{
    font: 18px;
    margin: 50px;
}